version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: etl_user
      POSTGRES_PASSWORD: etl_pass
      POSTGRES_DB: servicedesk_dw
    ports:
      - "5432:5432"
    networks:
      - servicedesk_network
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer
    ports:
      - "8080:8080"
    networks:
      - servicedesk_network
volumes:
  pgdata:

networks:
  servicedesk_network:
    external: true
